// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel-component {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 49, 54);
  position: relative;
  -webkit-box-flex: 0;
}

.channel-list-header {
  width: 100%;
  background-color: #2f3136;
  border-bottom: 1px solid #242529;
  box-shadow: 0 4px 2px -2px #2d2e32;
  display: flex;
  align-items: center;
  color: white;
  height: 50px;
  flex: 0 0 auto;
  justify-content: space-between;
}

.channel-list-header-server:hover {
  cursor: pointer;
  background-color: rgb(50, 53, 58);
}

.channel-list-header > h3 {
  font-weight: 700;
  font-size: 14px;
  margin-left: 15px;
}

.channel-list-header-btn {
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.settings-section {
  width: 100%;
  background-color: #292b2f;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 53px;
}

.server-channel-tab {
  margin-top: 20px;
  height: 15px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.server-channel-tab-heading {
  display: flex;
  align-items: center;
}

.server-channel-icon {
  margin-right: 10px;
}

.fa-plus-channel {
  margin-right: 15px;
  font-size: 15px;
}

.fa-plus-channel:hover {
  color: white;
}

.channel-member-plus {
  display: none;
}

.channel-tab:hover {
  cursor: pointer;
}

.server-channel-tab-heading > p {
  font-size: 12px;
  font-weight: 700;
}

.text-channel-header-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel-collapse-down {
  left: 5px;
  font-size: 10px;
  margin-right: 5px;
}

.channels-container {
  display: flex;
  overflow: hidden scroll;
  flex-direction: column;
  width: 100%;
  color: #8f9296;
  height: 100%;
  // bottom: -50px;
  // position: absolute;
}

.dm-channel-tab {
  margin-top: 20px;
  width: 170px;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.dm-channel-tab:hover {
  cursor: pointer;
}

.dm-channel-tab {
  font-size: 12px;
  margin: 4px;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-top: 13px;
  margin-left: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.create-dm-btn:hover {
  color: rgb(194, 194, 194);
}

.fa-hashtag {
  color: gray;
}

.channel-list-item {
  padding: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.channel-list-item-home {
  padding: 5px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.channel-list-item:hover {
  background-color: rgb(55, 57, 62);
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.dm-user-wrapper {
  display: flex;
  align-items: center;
}

.channel-list-item-home:hover {
  background-color: rgb(55, 57, 62);
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.channel-owner-actions {
  color: gray;
  font-size: 14px;
}

.channel-owner-action-btn:hover {
  color: white;
}

.channel-profile-image {
  width: 30px;
  height: 30px;
  padding-right: 8px;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.channel-profile-username {
  font-size: 13px;
  font-weight: 700;
  width: 69px;
  padding-left: 7px;
}

.channel-settings-buttons {
  margin-right: 5px;
}

.channel-setting-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #b9bbbe;
  border-radius: 3px;
  height: 30px;
}

.channel-setting-btn:hover {
  background-color: rgb(54, 58, 63);
}

.search-modal-btn {
  background: #202225;
  width: 200px;
  border: 1px solid #202225;
  border-radius: 3px;
  height: 30px;
  margin-left: 20px;
  color: rgb(114, 117, 123);
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.active-channel {
  color: white;
  background-color: rgb(55, 57, 62);
  border-radius: 4px;
}

.active-channel-home {
  color: white;
  background-color: rgb(55, 57, 62);
  border-radius: 4px;
  justify-content: space-between;
}

.dm-home-item {
  justify-content: space-between;
}

.settings-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  //border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.settings-img {
  height: auto;
  width: 35px;
}

.dm-list-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  //border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.dm-list-img {
  height: auto;
  width: 35px;
}

.dm-user-name {
  font-size: 16px;
  margin-left: 10px;
}

.create-channel-modal {
  position: absolute;
  top: Calc(50% - 180px);
  left: Calc(50% - 220px);
  height: auto;
  // min-height: 505px;
  min-width: 440px;
  background-color: rgb(55, 57, 62);
  overflow: hidden;
  border-radius: 5px;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  display: block;
  border: none;

  .close-form {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 3;
    svg path {
      transition: 0.2s;
    }

    .close-form:hover {
      svg path {
        fill: #2e3338;
        transition: 0.2s;
      }
    }
  }

  .create-channel-header {
    margin-top: 16px;
    margin-bottom: 16px;
    flex: 0 0 auto;
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    padding: 16px;
  }

  .create-channel-body {
    max-height: 480px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;

    .channel-type-text {
      font-size: 12px;
      line-height: 16px;
      color: #dcddde;
      margin-bottom: 8px;
      font-weight: 600;
    }

    .create-channel-type {
      margin-bottom: 20px;

      .text-channel-type {
        background-color: #2f3136;
        color: #b9bbbe;
        margin-bottom: 8px;
        cursor: pointer;
        border-radius: 3px;
        display: block;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
      }

      .text-channel-type[aria-checked="true"] {
        background-color: #202225;
        color: white;
      }

      .channel-type-info {
        margin-right: 8px;
        width: 100%;
        display: flex;
        grid-gap: 4px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .channel-type-hash {
          opacity: 0.6;
          margin-right: 6px;
          fill: #b9bbbe;
        }

        .channel-type-description {
          display: flex;
          flex-direction: column;
        }

        .channel-type-heading {
          font-size: 15px;
          padding-bottom: 6px;
          font-weight: 500;
          color: #dcddde;
        }

        .channel-type-description-text {
          font-size: 11px;
          color: #dcddde;
        }
      }
    }
    .create-channel-name {
      margin-bottom: 20px;
    }

    .channel-name-input-wrapper {
      .channel-name-placeholder-hash {
        margin-left: 3px;
        color: #b9bbbe;
        margin: 0px 5px 0px 8px;
        color: #b9bbbe;
        font-size: 20px;
      }
      position: relative;
      border-radius: 3px;
      border: 1px solid rgb(31, 30, 30);
      display: flex;
      align-items: center;
      background-color: rgb(42, 45, 49);
      height: 40px;
      channel-name-input-field:focus,
      input:focus {
        outline: none;
      }
      .channel-name-input-field {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        padding-left: 2px;
        width: 95%;
      }
    }
  }

  .create-channel-footer {
    flex: 0 0 auto;
    background-color: #2f3136;
    border-radius: 0 0 5px 5px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 16px;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: row-reverse;

    .create-channel-submit {
      border: none;
      color: #fff;
      background-color: #7289da;
      height: 38px;
      min-width: 96px;
      min-height: 38px;
      border-radius: 3px;
      font-size: 13px;
      padding: 10px;
      cursor: pointer;
      transition: 0.3s;
    }
    .create-channel-submit:hover {
      background-color: #6a7fcc;
    }

    .create-channel-submit[disabled="true"] {
      opacity: 0.5;
    }
    .create-channel-submit-true {
      opacity: 0.5;
    }
  }
}

.radio-bar {
  padding: 10px;
  border-left: 3px solid var(--radio-bar-accent-color);
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .channel-type-select {
    color: #a5b3e7;
  }
}

.create-channel-modal.transition-out {
  animation-name: disappear;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

.cancel-modal-button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 13px;
  cursor: pointer;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
}

.cancel-modal-button:hover {
  text-decoration: underline;
}

.settings-bottom-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
