// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel-component {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 49, 54);
  position: relative;
  -webkit-box-flex: 0;
}

.channel-list-header {
  width: 100%;
  background-color: #2f3136;
  border-bottom: 1px solid #242529;
  box-shadow: 0 4px 2px -2px #2d2e32;
  display: flex;
  align-items: center;
  color: white;
  height: 50px;
  flex: 0 0 auto;
  justify-content: space-between;
}

.channel-list-header-server:hover {
  cursor: pointer;
  background-color: rgb(50, 53, 58);
}

.channel-list-header > h3 {
  font-weight: 700;
  font-size: 14px;
  margin-left: 15px;
}

.channel-list-header-btn {
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.settings-section {
  width: 100%;
  background-color: #292b2f;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 53px;
}

.server-channel-tab {
  margin-top: 20px;
  margin-left: 5px;
  width: 170px;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.server-channel-icon {
  margin-right: 10px;
}

.channel-tab:hover {
  cursor: pointer;
}

.channel-tab > p {
  font-size: 11px;
  margin: 4px;
}

.channel-collapse-down {
  left: 5px;
}

.channels-container {
  display: flex;
  overflow: hidden scroll;
  flex-direction: column;
  width: 100%;
  color: #8f9296;
  height: 100%;
  // bottom: -50px;
  // position: absolute;
}

.dm-channel-tab {
  margin-top: 20px;
  width: 170px;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.dm-channel-tab:hover {
  cursor: pointer;
}

.dm-channel-tab {
  font-size: 12px;
  margin: 4px;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-top: 13px;
  margin-left: 17px;
}

.create-dm-btn {
  right: 20px;
  position: absolute;
}

.channel-list {
}

.channel-list-item {
  padding: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.channel-list-item:hover {
  background-color: rgb(55, 57, 62);
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.channel-profile-image {
  width: 30px;
  height: 30px;
  padding-right: 8px;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.channel-profile-username {
  font-size: 13px;
  font-weight: 700;
  width: 69px;
  padding-left: 7px;
}

.channel-settings-buttons {
  margin-right: 5px;
}

.channel-setting-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #b9bbbe;
  border-radius: 3px;
  height: 30px;
}

.channel-setting-btn:hover {
  background-color: rgb(54, 58, 63);
}

.search-modal-btn {
  background: #202225;
  width: 200px;
  border: 1px solid #202225;
  border-radius: 3px;
  height: 30px;
  margin-left: 20px;
  color: rgb(114, 117, 123);
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.active-channel {
  color: white;
  background-color: rgb(55, 57, 62);
  border-radius: 4px;
}

.settings-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  //border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.settings-img {
  height: auto;
  width: 35px;
}

.dm-list-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  //border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.dm-list-img {
  height: auto;
  width: 35px;
}

.dm-user-name {
  font-size: 16px;
  margin-left: 10px;
}
