// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-container {
  top: 0;
  left: 310px;
  position: absolute;
  background-color: #37393e;
  display: flex;
  width: 100%;
  bottom: 0;
}

.welcome-header {
}

.welcome-hr {
  border: none;
  height: 1px;
  color: gray;
  background-color: rgb(72, 75, 80);
}

.message-list {
  bottom: 70px;
  position: absolute;
  overflow-y: auto;
  top: 0;
  padding-bottom: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.content-area {
  display: flex;
}

.msg-input {
  width: 100%;
  margin: 15px;
  border-radius: 7px;
  background-color: #44474d;
  border: 1px solid #44474d;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
}

.message-li {
  margin: 10px;
}

.msg-username {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.user-msg {
  font-size: 13px;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 0px;
}

.message-form {
  bottom: 0;
  position: absolute;
  background-color: #37393e;
  height: 70px;
  width: 100%;
  .msg-submit {
    background-color: #37393e;
    border: 0.1px solid #37393e;
    height: 0;
    color: transparent;
    width: 0;
  }
}

.message-ul {
  width: 100%;
}

.user-msg {
  white-space: pre-line;
}

.author-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  //border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-img {
  height: auto;
  width: 50px;
}
