// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-container {
  top: 0;
  left: 310px;
  position: absolute;
  background-color: #37393e;
  display: flex;
  width: 100%;
  bottom: 0;
}

.welcome-header {
}

.welcome-hr {
  border: none;
  height: 1px;
  color: gray;
  background-color: rgb(72, 75, 80);
}

.message-list {
  bottom: 70px;
  position: absolute;
  overflow-y: auto;
  top: 0;
  padding-bottom: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
}

.content-area {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.msg-input {
  width: 100%;
  margin: 15px;
  border-radius: 7px;
  background-color: #44474d;
  border: 1px solid #44474d;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
}
.msg-input:focus {
  outline: none;
}

.message-li {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-bottom: 30px;
}

.msg-username {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}

.user-msg {
  font-size: 15px;
  font-weight: 300;
  margin-top: 0px;
  padding-top: 0px;
  color: #d8d8d7;
}

.message-form {
  bottom: 0;
  position: absolute;
  background-color: #37393e;
  height: 70px;
  width: 50%;
  margin-bottom: 15px;
  .msg-submit {
    background-color: #37393e;
    border: 0.1px solid #37393e;
    height: 0;
    color: transparent;
    width: 0;
  }
}

.message-ul {
  width: 100%;
}

.message-components {
  width: 100%;
}

.user-msg {
  white-space: pre-line;
}

.timestamp {
  font-size: 10px;
  margin-left: 10px;
  font-weight: 100;
  color: gray;
}

.author-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  //border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-img {
  height: auto;
  width: 50px;
}

input,
select,
textarea {
  color: #e2e2e2;
}

input.middle:focus {
  outline-width: 0;
}

.welcome-img-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  //border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  padding-bottom: 0;
}

.welcome-img {
  height: auto;
  width: 85px;
}

.welcome-header {
  margin-top: 10px;
}
