.strife-nav-bar {
  height: 50px;
  color: gray;
  background-color: #37393e;
  display: flex;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid rgb(36, 37, 41);
  box-shadow: 0 4px 2px -2px rgb(45, 46, 50);
  overflow: hidden;
  float: none;
  top: 0;
  flex: 0 0 auto;
}

.home-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  color: white;
}

.all-nav-icons {
  display: flex;
  align-items: center;
}

.home-nav-br {
  width: 1px;
  height: 25px;
  background-color: #43474c;
  margin: 0 3px 0 3px;
}

.home-nav-icon {
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}

.home-nav-friends-icon {
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}

.home-nav-icon:hover {
}

.home-nav-inbox {
  display: flex;
  font-size: 20px;
  color: rgb(185, 187, 190);
  align-items: center;
  justify-content: space-between;
}

.nav-icon {
  margin: 10px;
}

.at-nav-icon {
  font-size: 20px;
  color: #676b72;
}

.user-header {
  font-size: 17px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.at-user {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.main-nav-icons {
  display: flex;
  font-size: 20px;
  color: rgb(185, 187, 190);
  align-items: center;
  justify-content: space-between;
}

.friend-nav-icon {
  margin-right: 8px;
}

.friends-nav-inbox {
  display: flex;
  font-size: 20px;
  color: rgb(185, 187, 190);
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 10px;
  top: 5px;
}

.add-friend-btn {
  background-color: #43b581;
  color: white;
  border-radius: 3px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  font-weight: 600;
}

.home-main-nav-icons {
  display: flex;
  font-size: 20px;
  color: rgb(185, 187, 190);
  align-items: center;
  justify-content: space-between;
}

.search-bar-nav {
  background: #202225;
  width: 135px;
  border: 1px solid #202225;
  border-radius: 3px;
  height: 20px;
  color: #72757b;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin: 0 5px 0 5px;
}
