// Place all the styles related to the api/servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-component {
  background-color: #23272a;
  height: 100vh;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-list {
  list-style-type: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-list-item {
  font-size: 17px;
  background-color: #32383b;
  padding: 18px;
  margin: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    border-radius: 35%;
    background-color: #7289da;
    .server-list-hover-shape {
      transform: translateX(3px);
    }
  }
}

.server-list-br {
  background-color: #32383b;
  height: 2px;
  width: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.server-list-hover-shape {
  // display: none;
  left: -16px;
  width: 16px;
  height: 16px;
  background-color: white;
  transition: all 1s;
  color: white;
  position: absolute;
  transition: left 1s;
  border-radius: 3px;
  transition: transform 750ms;
}

.active-server-shape {
  left: -13px;
  width: 16px;
  height: 35px;
  background-color: white;
  color: white;
  position: absolute;
  border-radius: 3px;
}

#active-server-item {
  border-radius: 35%;
  background-color: #7289da;
}

.server-home-btn {
  font-size: 30px;
}

.server-list-icon {
  color: #51ad7e;
  font-size: 22px;
  &:hover {
    background-color: #51ad7e;
    color: white;
  }
}
