/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(39, 117, 235);
  color: #ffffff;
  font-family: Roboto;
  height: 100%;
  /* overflow: hidden; */
}

ul,
ul li,
ul ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a.hover:hover {
  text-decoration: underline;
}

#root {
  height: 100%;
  width: 100%;
}

.splash-container {
  z-index: -10;
}

.first-section {
  min-height: 620px;
  position: relative;
}

.first-section-bg {
  display: flex;
  z-index: 0;
}

.first-section-bg-bg {
  position: absolute;
  z-index: -4;
}

.first-section-bg-bg-2 {
  position: absolute;
  z-index: -4;
  left: 450px;
  top: 410px;
}

.first-section-bg-img-left {
  position: absolute;
  z-index: -1;
  left: -346px;
  top: 170px;
}

.first-section-bg-img-right {
  position: absolute;
  z-index: -1;
  right: -385px;
  top: 130px;
}

.header-section {
  width: 100%;
  padding-top: 20px;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}

.nav-collapse {
  display: flex;
}

.nav-link {
  padding: 15px;
}

.logo-span {
  font-size: 30px;
}

.splash-button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 20px;
  z-index: 99999;
  position: relative;
}

.splash-button a {
  color: black;
  text-decoration: none;
}

.strife-intro {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  z-index: 1;
}

.strife-intro > h1 {
  font-size: 50px;
}

.strife-intro > p {
  max-width: 650px;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 1.9;
  font-size: 19px;
}

.second-section {
  display: flex;
  background-color: #fff;
  min-height: 500px;
  color: black;
  flex-wrap: wrap;
  justify-content: center;
}

.second-section-caption {
  width: 300px;
  margin-right: 20px;
}

.second-section-caption > h1 {
  font-size: 40px;
}

.fifth-section {
  background-color: #fff;
  min-height: 300px;
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.fifth-section-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fifth-section-caption > h1 {
  font-size: 50px;
}

.fifth-section-caption > p {
  max-width: 650px;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 1.9;
  font-size: 19px;
}

.call-to-action-box {
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
}

.call-to-action {
  width: 250px;
  background-color: #7289da;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 30px;
  height: 50px;
  -webkit-box-pack: center;
  font-size: 18px;
  margin-top: 20px;
}

.footer {
  background-color: #23272a;
  display: flex;
  min-height: 500px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
}

.login-form-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(https://i.redd.it/y1ostvqnr4711.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  top: 30px;
  left: 100px;
  position: absolute;
  font-size: 30px;
  color: black;
}

.login-form-container a {
  color: #7289da;
}

.login-form-box {
  background-color: #3d4044;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-form-container input {
  height: 40px;
  width: 350px;
  border-radius: 3px;
  background-color: #313438;
  border: rgb(39, 37, 37) solid;
  border-width: thin;
  transition: border-color 1s;
  font-size: 17px;
  color: white;
}

.login-form-container input:hover {
  outline: none !important;
  border-color: black;
  /* box-shadow: 0 0 10px #719ece; */
}

.login-form-container input:focus {
  outline: none !important;
  border: 1px solid#7289da;
  background-color: #3d4044;
  /* box-shadow: 0 0 10px #719ece; */
}

.form-login-button {
  height: 40px;
  background-color: #7289da;
  border: none;
  color: white;
  width: 350px;
  cursor: pointer;
  border-radius: 3px;
  border: #7289da solid;
  border-width: thin;
  font-size: 15px;
}

.login-form-container input,
label {
  display: block;
}

.desktop-app {
  width: 100%;

  height: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #2c2f33;
  position: absolute;
  top: 0;
  left: 0;
}
